
<div class="py-5 border-top">
  <div class="container">

    <p class="h5 mb-3">{{ site.title | escape }}</p>

    <div class="row">

      <div class="col-sm">

      </div>

      <div class="col-sm text-right">
        <p>{{- site.description | escape -}}&nbsp;Open to contributions and maintainers.</p>
      </div>

    </div>

  </div>
</div>
<script>
  // Image lazy load
  var imgDefer = document.getElementsByTagName('img');
  for (var i = 0; i < imgDefer.length; i++) {
    if (imgDefer[i].getAttribute('data-src')) {
      imgDefer[i].setAttribute('src', imgDefer[i].getAttribute('data-src'));
    }
  }
</script>
