<div class="card position-sticky shadow p-3 mb-5 bg-white rounded" style="top: 10px">
    <div class="card-body">
        <form id="formula-box">
            <div class="row flex-justify-around">
                <div class="col-12 col-sm-4 mb-3">
                    <label class="sr-only" for="in">Formula</label>
                    <input type="text" class="form-control" id="in" placeholder="Type your formula">
                </div>
                <div class="col-12 col-sm-4 mb-3 text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-12 col-sm-4 mb-3">
                    <label class="sr-only" for="out">Username</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="out" placeholder="Result">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $('#formula-box').on('submit', function (event) {
        event.preventDefault();
        $('#out').val(eval($('#in').val()));
    });
</script>
