<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        {%- assign mainNavigationPages = site.pages | where:"navigation","main" | sort: "weight" -%}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {%- for path in mainNavigationPages -%}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path.url | relative_url }}">{{ path.title | escape }}</a>
                </li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
</nav>
