.clickable {
    cursor: pointer;
}

code.function-name {
    color: #0088cc;
}

h2:not(:first-child) {
    margin-top: 2rem;
}

h3:not(:first-child) {
    margin-top: 1.5rem;
}

.jumbotron--home {
    color: white;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border: 1px solid #dee2e6;
}
